.loginBox table{
	margin-bottom:10px;
}
  
.logLabel{
	width:100px;
}

.logInput{
	width:550px;
}

.logInput input{
	padding-right:0px;
	width:533px;
	/*SETTING IT TO 100% MAKES IT OVERSHOOT EVEN THOUGH THE TABLE DOESN'T JESUS CHRIST FIX LATER*/
}

#logbutton{
	width:650px;
}

.loginBox td{
	height:90px;
	padding:0;
}

#incorrectText{
	color:red;
	height:6px;
	line-height: 2px;
	margin-top:-10px;
	padding:0;
}