body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, button, a{
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a.lined{
  text-decoration: underline;
}

a.unlined:hover{
  text-decoration: none;
}

.headBar{
  display: flex;
  height:0;
  padding:0;
  width:100%;
  margin:-50px -0px 15px -35px;
  line-height: 5px;
}

.headBar p{
  font-size: 17px;
  margin-left: 20px;
  margin-top: 14px;
}

#signout a, #signin a{
  font-size: 15px;
}

#signout, #signin{
  margin-top: 4px;
}

#blubHead{
  font-size: 20px;
}

hr{
  margin-left:-35px;
  margin-right:-35px;
  margin-top:40px;
  margin-bottom:60px;
  height:1px;
  border: none;
  background-color: #cecece;
}

.hidden{
  display: none;
}

h1{
  font-size:40px;
}

h3{
  font-size:22px;
}

p, button, input, label, a{
  font-size:20px;
}

button{
  width:300px;
  padding:10px;
  margin-right:30px;
  border:2px solid black;
}

button:hover{
  background-color: #e9e9e9;
}

input{
  width:500px;
  padding:10px;
  border:2px solid black;
}

.textOnly{
  line-height: 5px;
  background: none;
  border:none;
  font-size: 17px;
  width:auto;
}

.textOnly:hover{
  background: none;
  text-decoration: underline;
}

#code{
  width:250px;
  margin-right:30px;
}

#err{
  color:red;
}