extends layout

block content
    center
        img(src='./images/blub_logo.png' width=200)

        h1(style="font-size:50px;") Welcome to Blub.
        p Blub is the ECC's way of letting you use our workstations from home.
        p Click "Log in" at the top of the screen to get started!
