extends layout

block content
    center
        img(src='./images/blub_logo.png' width=200)

        h1(style="font-size:50px;") Welcome to Blub.
        p Blub is the ECC's way of letting you use our workstations from home.
        p Click the button below to log in and get started!
        br
        a(id='remote' href="/queue")
            button(style="margin:0;") Connect to Blub