extends layout

block content

    //img(src='./images/blub_logo.png' width=200)

    h1(style="font-size:50px;") Welcome to ECC Remote.
    p Access our computer lab from anywhere. Available to students and staff.
    BR
    a(href="/queue")
        button(style="margin:0;") Get Started