extends layout

block content

    //img(src='./images/blub_logo.png' width=200)

    h1(style="font-size:50px;") Welcome to ECC Remote.
    p Access to the ECC's computer lab from anywhere. Sign in and get started.
    hr(class="break")
    a(id='remote' href="/queue")
        button(style="margin:0;") I'm a Student
    br
    br
    a(id='remote' href="/moderator")
        button(style="margin:0;") I'm a Professor / TA