doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //Header
    .headBar
      h1(id='blubHead') ECC Blub
      p ▪
      p(id='userLabel') Logged in as username
      button(class="textOnly" id='signout' onclick='') (Logout)
    hr

  script.
      //const WebSocket = require('ws')
      const webUrl = 'ws://localhost:8082';
      const webConnection = new WebSocket(webUrl);
        
      webConnection.onopen = () => {
          webConnection.send(JSON.stringify( {'request': 'user-info' } )); 
      }
        
      webConnection.onerror = (error) => {
          console.log(`WebSocket error: ${error}`)
      }
        
      webConnection.onmessage = (e) => {
        var msg = JSON.parse(e.data);
        if (msg["data"] != "none"){
          //logged in
          console.log(msg["data"]);
          document.getElementById('userLabel').innerHTML = "Logged in as " + msg["data"]["displayName"];
          document.getElementById('signout').classList.remove("hidden");
        }else{
          //logged out
          console.log("Logged out");
          document.getElementById('userLabel').innerHTML = "Not logged in";
          document.getElementById('signout').classList.add("hidden");
        }
      }

  block content

      
