doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' sizes='180x180' href="./apple-touch-icon.png")
    link(rel='icon' type='image/png' sizes='32x32' href="./favicon-32x32.png")
    link(rel='icon' type='image/png' sizes='16x16' href="./favicon-16x16.png")
    link(rel='manifest' href="./site.webmanifest")

  body
    //Header
    .headBar
      a(href="/")
        h1(id='blubHead') ECC Blub
      p ▪
      p(id='userLabel') Logged in as username
      button(class="textOnly" id='signout' onclick='')
        a(class="textOnly" href="/logout") (Log out)
      button(class="textOnly" id='signin' onclick='')
        a(class="textOnly" href="/login") (Log in)

      button(class="textOnly unlined" style="float:right;")
        a(class="textOnly unlined" href="/admin" style="color:white;") admin
    hr

  script.
      const webConnection = new WebSocket('#{client_server}');
        
      webConnection.onopen = () => {
          webConnection.send(JSON.stringify( {'endpoint': 'login', 'request': 'user-info' } )); 
      }
        
      webConnection.onerror = (error) => {
          console.log(`WebSocket error: ${error}`)
      }
        
      webConnection.onmessage = (e) => {
        var msg = JSON.parse(e.data);
        if(msg['endpoint'] == 'login') {
            if (msg["data"] != "none"){
              //logged in
              console.log(msg["data"]);
              document.getElementById('userLabel').innerHTML = "Logged in as " + msg["data"]["cn"];
              document.getElementById('signout').classList.remove("hidden");
              document.getElementById('signin').classList.add("hidden");
            }else{
              //logged out
              console.log("Logged out");
              document.getElementById('userLabel').innerHTML = "Not logged in";
              document.getElementById('signout').classList.add("hidden");
              document.getElementById('signin').classList.remove("hidden");
            }
        }
      }

  block content
