extends layout

block content

    script.
        const url = 'ws://localhost:8082';
        const connection = new WebSocket(url);
         
        connection.onopen = () => {
        }
         
        connection.onerror = (error) => {
            console.log(`WebSocket error: ${error}`);
        }
         
        connection.onmessage = (e) => {
            console.log(e.data)
            var msg = JSON.parse(e.data);
            
            if(msg['hash'] != "") {
                document.cookie = 'passhash=' + msg['hash'];// + ";domain=.uri.edu;path=/";
                document.getElementById("logform").submit();
            }
        }
        
        function login_handler() {
            connection.send(JSON.stringify( { 'request': 'session-passwd', 'pass': document.getElementById('pwd').value } ) );
        }
        
    h1 Log in to Blub.
    p Sign in using your ECC account.
    br
    form(id='logform' class='loginBox' method='POST' action='/login')
        table
            tr
                td
                    label(for='username') Username:
                td
                    input(name='username' placeholder='Username')
            tr 
                td
                    label(for='password') Password:
                td
                    input(id='pwd' name='password' placeholder='Password' type='password')
    p(id='incorrectText')
    script.
        console.log("test: #{failureFlash}");
        document.getElementById('incorrectText').innerHTML = ("#{failureFlash}" != "") ? "Incorrect username or password." : " ";
    button(id='logbutton' onclick='login_handler()' value='Login') Login
    br
    br
    br
    a(href="mailto:eccmanager@egr.uri.edu?subject=Forgotten Password") Forgot your ECC password? Email us here.
