extends layout

block content

    script.
        const url = 'ws://localhost:8082';
        const connection = new WebSocket(url);
         
        connection.onopen = () => {
        }
         
        connection.onerror = (error) => {
            console.log(`WebSocket error: ${error}`);
        }
         
        connection.onmessage = (e) => {
            console.log(e.data)
            var msg = JSON.parse(e.data);
            
            if(msg['hash'] != "") {
                document.cookie = 'passhash=' + msg['hash'];// + ";domain=.uri.edu;path=/";
                document.getElementById("logform").submit();
            }
        }
        
        function login_handler() {
            connection.send(JSON.stringify( { 'request': 'session-passwd', 'pass': document.getElementById('pwd').value } ) );
        }
        
        function help_handler() {
            document.getElementById('helplogin1').classList.toggle("hidden");
            document.getElementById('helplogin2').classList.toggle("hidden");
        }
        
        
    h1 Log in to Blub.
    p Sign in using your ECC account.
    br
    form(id='logform' class='loginBox' method='POST' action='/login')
        table
            tr
                td
                    label(for='username') Username:
                td
                    input(name='username' placeholder='Username')
            tr 
                td
                    label(for='password') Password:
                td
                    input(id='pwd' name='password' placeholder='Password' type='password')
    p(id='incorrectText')
    
    script.
        document.getElementById('incorrectText').innerHTML = ("#{failureFlash}" != "") ? "Incorrect username or password." : " ";
        
    button(id='logbutton' onclick='login_handler()' value='Login') Login
    br
    br
    br
    button(class='textOnly' style='font-size:20px; padding:0;' onclick='help_handler() ' value='Help') Need help logging in?
    p(id='helplogin1' class='hidden') Send an email to 
        a(href="mailto:eccmanager@egr.uri.edu" class="lined") eccmanager@egr.uri.edu
    p(id='helplogin2' class='hidden') Hit us up at @uri_ecc on Snapchat or Instagram
