extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/spinner.css')

    script.
        //const WebSocket = require('ws')
        const url = 'ws://localhost:8080'
        const connection = new WebSocket(url)
         
        connection.onopen = () => {
            connection.send(JSON.stringify( {'request': 'init' } )); 
        }
         
        connection.onerror = (error) => {
            console.log(`WebSocket error: ${error}`)
        }
         
        connection.onmessage = (e) => {
            console.log(e.data)
            var msg = JSON.parse(e.data);
            
            // Handle a request
            switch(msg["status"]) {
                case "queued": {
                    document.getElementById('action').innerHTML = 'Leave the queue';
                    
                    if(msg['place'] == 0) {
                        document.getElementById('header').innerHTML = "You're next up for a machine."
                    }
                    else {
                        document.getElementById('header').innerHTML = 'You are ' + Number(Number(msg['place'])+Number(1)) + ' in the queue.';
                    }
                }
                break;
                
                case "idle": {
                    document.getElementById('header').innerHTML = "You are not waiting for a machine."
                    document.getElementById('action').innerHTML = 'Join the queue';
                }
                break;
            }
        }
        
        function buttonHandler() {
            if(document.getElementById('action').innerHTML == "Join the queue") {
                connection.send(JSON.stringify( { 'request': 'queue-join' } ));
            }
            else if(document.getElementById('action').innerHTML == "Leave the queue") {
                connection.send(JSON.stringify( { 'request': 'queue-leave' } ));
            }
        }
        
    div(id='holder')    
        h1(id='header') You are 11th in the queue.
        div.loaderBox
            div.loader
    p(id='subheader')
        | It'll be about 
        b(id='time-remaining') 20 minutes 
        | before you're called.
        
    button(id='action' onclick='buttonHandler()') Leave the queue
