extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/spinner.css')

    script(src='./scripts/download.js')
    
    script.

        var hasClassCode;

        var mlink = ""
        var rdpfile;
        
        const nth = function(d) {
            if (d > 3 && d < 21) return 'th';
            switch (d % 10) {
                case 1:  return "st";
                case 2:  return "nd";
                case 3:  return "rd";
                default: return "th";
            }
        };
        
        //We would like to thank our heavenly father above, StackOverflow, for writing the following 2 formatting functions for me
        function hours12(date){return (date.getHours() + 24) % 12 || 12;}

        function pad(value){
            if(value < 10) {
                return '0' + value;
            } else {
                return value;
            }
        }

        function formatdate(dobj) {
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var ampm = (dobj.getHours() > 11) ? "PM" : "AM";

            var dstr = "" +
                days[dobj.getDay()] + ", " +
                months[dobj.getMonth()] + " " +
                dobj.getDate() + nth(dobj.getDate()) + " at " +
                hours12(dobj) + ":" +
                pad(dobj.getMinutes()) + " " +
                ampm;
                
            return dstr;
        };
        
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        var connection = new WebSocket('#{protocol}#{server}#{endpoint}')
         
        connection.onopen = () => {
            connection.send(JSON.stringify( {'endpoint': 'queue', 'request': 'init' } )); 
        }
         
        connection.onerror = (error) => {
            console.log(`WebSocket error: ${error}`)
        }

        connection.onmessage = (e) => {
            console.log(e.data)
            var msg = JSON.parse(e.data);
            
            // Handle a request
            switch(msg["status"]) {
                case "closing": {
                    mlink = msg['myrtille-link'] + getCookie('passhash');
                    rdpfile = msg['rdp-file'];
                    document.getElementById('header').innerHTML = "Your session with " + msg["machine"]["name"] + " is ending soon.";
                    document.getElementById('subheader').innerHTML = "You will be disconnected from your computer on <b>" + 
                                                                      formatdate(new Date(msg["machine"]["until"])) + "</b>.";
                    toggleHidden('remote', 'end', 'options');
                }
                break;
                
                case "in-session": {
                    mlink = msg['myrtille-link'] + getCookie('passhash');
                    rdpfile = msg['rdp-file'];
                    document.getElementById('header').innerHTML = "You're connected to a machine: " + msg["machine"]["name"].toUpperCase() + ".";
                    document.getElementById('subheader').innerHTML = "You can use this workstation until your session expires on <b>" + 
                                                                      formatdate(new Date(msg["machine"]["until"])) + "</b>.";
                    toggleHidden('remote', 'end', 'options');
                }
                break;

                case "in-session-class": {
                    mlink = msg['myrtille-link'] + getCookie('passhash');
                    rdpfile = msg['rdp-file'];
                    document.getElementById('header').innerHTML = "You're connected to a machine: " + msg["machine"]["name"] + ".";
                    document.getElementById('subheader').innerHTML = "You can use this workstation until your class ends";
                    toggleHidden('remote', 'end', 'options');
                }
                break;
                
                case "invalid-class": {
                    document.getElementById('header').innerHTML = "You're not waiting for a machine.";
                    document.getElementById('subheader').innerHTML = "Join the queue for estimated wait times.";
                    toggleHidden('join', 'close', 'code');
                    document.getElementById('err').innerHTML = "Invalid code. Make sure that the code is correct and you're not too early to join this class.";
                    hasClassCode = true;
                }
                break;
                
                case "full-class": {
                    document.getElementById('header').innerHTML = "You're not waiting for a machine.";
                    document.getElementById('subheader').innerHTML = "Join the queue for estimated wait times.";
                    toggleHidden('join', 'close', 'code');
                    document.getElementById('err').innerHTML = "The class you are trying to join is already full.";
                    hasClassCode = true;
                }
                break;

                case "queued": {
                    if(msg['place'] == 0) {
                        document.getElementById('header').innerHTML = "You're next up for a machine.";
                        document.getElementById('subheader').innerHTML = "The <b>next open machine</b> will be yours.";
                    }
                    else {
                        var placemat = Number(Number(msg['place'])+Number(1));
                        document.getElementById('header').innerHTML = 'You are ' + placemat + nth(placemat) + ' in the queue.';

                        var waittime = new Date(msg['wait']);
                        
                        if(msg['wait'] == -1) {
                            document.getElementById('subheader').innerHTML = "The queue is very full. You may have to wait several hours for a machine.";
                        }
                        else if(msg['wait'] == 0) {
                            document.getElementById('subheader').innerHTML = "You should have a machine within a couple of minutes.";
                        }
                        else {
                            document.getElementById('subheader').innerHTML = "It'll be about <b>" + waittime.getMinutes() + " minute[s]</b> before you're called.";
                        }
                    }
                    toggleHidden('leave', 'loader');
                }
                break;
                
                case "idle": {
                    console.log('hehe');
                    document.getElementById('header').innerHTML = "You're not waiting for a machine.";
                    document.getElementById('subheader').innerHTML = "Join the queue for estimated wait times.";
                    if (hasClassCode){
                        toggleHidden('join', 'close', 'code');
                    }else{
                        toggleHidden('join', 'class');
                    }
                }
                break;
            }
           
        }

        // Button handlers
        function join_handler(){
            if (!hasClassCode){
                //No class code, regular queue
                connection.send(JSON.stringify( { 'endpoint': 'queue', 'request': 'queue-join' } ));
            }else{
                //Class code
                if (document.getElementById('code').value != ""){
                    connection.send(JSON.stringify( { 'endpoint': 'queue', 'request': 'queue-join-class', 'reservation': document.getElementById('code').value.trim().toUpperCase() } ));
                } else {
                    document.getElementById('err').innerHTML = "Please enter a class code.";
                }
            }
        }

        function leave_handler(){
            connection.send(JSON.stringify( { 'endpoint': 'queue', 'request': 'queue-leave' } ));
        }

        function end_handler(){
            connection.send(JSON.stringify( { 'endpoint': 'queue', 'request': 'session-end' } ));
        }
        
        function myrt_handler() {
            // Launch Myrtille
            if(mlink != "")
                window.open(mlink);
        }

        function rdp_handler() {
            download(rdpfile, "connection.rdp");


        }

        function class_handler(){
            document.getElementById('class').classList.add("hidden");
            document.getElementById('code').classList.remove("hidden");
            document.getElementById('close').classList.remove("hidden");
            hasClassCode = true;
            document.getElementById('join').innerHTML = "Join class";
            document.getElementById('err').innerHTML = "";
        }

        function close_handler(){
            document.getElementById('class').classList.remove("hidden");
            document.getElementById('code').classList.add("hidden");
            document.getElementById('close').classList.add("hidden");
            hasClassCode = false;
            document.getElementById('join').innerHTML = "Join the queue";
            document.getElementById('err').innerHTML = "";
        }

        function codeEntered(){ //not in use atm
            //hasClassCode = (document.getElementById('code').value.trim() === '') ? false : true;
            //document.getElementById('join').innerHTML = (hasClassCode) ? "Join class" : "Join the queue";
        }
        
        function toggleHidden(...args){
            document.getElementById('err').innerHTML = "";              //Error text is cleared on state transition
            document.getElementById('join').classList.add("hidden");
            document.getElementById('remote').classList.add("hidden");
            document.getElementById('end').classList.add("hidden");
            document.getElementById('leave').classList.add("hidden");
            document.getElementById('class').classList.add("hidden");
            document.getElementById('code').classList.add("hidden");
            document.getElementById('close').classList.add("hidden");
            document.getElementById('options').classList.add("hidden");
            document.getElementById('opt1').classList.add("hidden");
            document.getElementById('opt2').classList.add("hidden");
            document.getElementById('loader').classList.add("hidden");  //Spinner
            args.forEach(element => document.getElementById(element).classList.remove("hidden"));
        }

        window.addEventListener("load", function(event) {
            //toggleHidden();
        });
        
    div(id='holder')
        div.loaderBox(id='loader')
            div.loader
        h1(id='header') Connecting to server...

        
    p(id='subheader') If you see this message for longer than a few seconds, please refresh.
    br
    a(id='remote' href="/guacamole" target="_blank")
        button 
            b() Open your remote session
    input(id='code' name='code' autocomplete="off" oninput="codeEntered()" placeholder='Enter class code')
    button(id='leave' onclick='leave_handler()') Leave the queue
    button(id='join' onclick='join_handler()') Join the queue
    button(id='end' onclick='end_handler()') End your session
    button(id='class' class="textOnly" onclick='class_handler()') I have a class code...
    button(id='close' class="textOnly" onclick='close_handler()') I don't have a class code...

    p(id='err')

    script.
        function opt_handler() {
            document.getElementById('opt1').classList.toggle("hidden");
            document.getElementById('opt2').classList.toggle("hidden");
        }

    button(id="options" class='textOnly' onclick='opt_handler()') Other connection options...
    br
    br
    button(id='opt2' class="hidden" onclick='myrt_handler()') Myrtille client
    button(id='opt1' class="hidden" onclick='rdp_handler()') RDP file (advanced)
